<% layout('layout/boilerplate.ejs') %>

<h3>Delete Account For Developers</h3>

<form action="/delete-account" method="post">
    <label for="password">Enter Your Password</label>
    <input type="password" required class="form-control" placeholder="Enter Your Password">
</form>

<a href="/forgot-password">Forgot your password?</a>